<div ng-app="Football" ng-controller="ctlr">
<div>
	<ul class="nav nav-tabs">
		<li><a href="#all" class="btn btn-def" ng-click="posFilter.pos = ''">All</a></li>
		<li><a href="#qb" class="btn btn-def" ng-click="posFilter.pos = 'QB'">QB</a></li>
		<li><a href="#rb" class="btn btn-def" ng-click="posFilter.pos = 'RB'">RB</a></li>
		<li><a href="#wr" class="btn btn-def" ng-click="posFilter.pos = 'WR'">WR</a></li>
		<li><a href="#te" class="btn btn-def" ng-click="posFilter.pos = 'TE'">TE</a></li>
		<li><a href="#k" class="btn btn-def" ng-click="posFilter.pos = 'K'">K</a></li>
    </ul>
</div>

<!--<div>
	<div style="padding:2px;">
		<button ng-click="togg(); findAndReplace(rowCollection, ' Cam Newton ', 'picked')" style="padding-left:8px; padding-right:8px;" class="btn btn-md btn-success" onclick="findAndReplace(rowCollection, 'QB', 'picked')">Pick</button>
		<button ng-click="r_taken=true; r_picked=false; r_watch=false; r_normal=false;" style="padding-left:4px; padding-right:4px;" class="btn btn-md btn-danger">Taken</button>
		<button ng-click="r_watch=true; r_picked=false; r_taken=false; r_normal=false;" style="padding-left:3px; padding-right:3px;" class="btn btn-md btn-warning">Watch</button>
		<button ng-click="r_normal=true; r_picked=false; r_taken=false; r_watch=false;" style="padding-left:5px; padding-right:5px;" class="btn btn-md btn-default">Reset</button>
	</div>
</div>-->

<div class="mobile-table">
    <table st-table="rowCollection" cellpadding="0" cellspacing="0" border="0" id="data" class="table table-bordered table-condensed table-hover tablesorter">
        <thead>
            <tr>
            	<td colspan="2" data-column="0">&nbsp;</td>
            	<td colspan="5" style="text-align:center;" data-column="3"><small><b>PASSING</b></small></td>
            	<td colspan="3" style="text-align:center;" data-column="8"><small><b>RUSHING</b></small></td>
            	<td colspan="3" style="text-align:center;" data-column="11"><small><b>RECEIVING</b></small></td>
            	<td colspan="8" style="text-align:center;" data-column="14"><small><b>MISC</b></small></td>
            </tr>
            <tr class="tablesorter-header">
            	<th style="width:10px;" data-column="0" class="tablesorter-header">
            		<div class="tablesorter-header-inner"><small>RNK</small></div>
            	</th>
            	<th style="width:120px" data-column="1" class="tablesorter-header">
            		<div class="tablesorter-header-inner">
            			<a ng-click="sortType = 'name'; sortReverse = !sortReverse">Player 
				            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          				</a>
          			</div>
            	</th>
            	<th style="width:40px;" data-column="3" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'att'; sortReverse = !sortReverse">ATT
				            <span ng-show="sortType == 'att' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'att' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
					</small></div>
				</th>
				<th style="width:40px;" data-column="4" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'comp'; sortReverse = !sortReverse">COMP
				            <span ng-show="sortType == 'comp' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'comp' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
					</small></div>
				</th>
				<th style="width:40px;" data-column="5" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'p_yds'; sortReverse = !sortReverse">PASS YDS
				            <span ng-show="sortType == 'p_yds' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'p_yds' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
					</small></div>
				</th>
				<th style="width:40px;" data-column="6" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'p_td'; sortReverse = !sortReverse">PASS TD
				            <span ng-show="sortType == 'p_td' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'p_td' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
					</small></div>
				</th>
				<th style="width:40px;" data-column="7" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'int'; sortReverse = !sortReverse">INT
				            <span ng-show="sortType == 'int' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'int' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="8" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'rush'; sortReverse = !sortReverse">RUSH
				            <span ng-show="sortType == 'rush' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'rush' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="9" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'ru_yds'; sortReverse = !sortReverse">RUSH YDS
				            <span ng-show="sortType == 'ru_yds' && sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'ru_yds' && !sortReverse" class="fa fa-caret-up"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="10" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'ru_td'; sortReverse = !sortReverse">RUSH TD
				            <span ng-show="sortType == 'ru_td' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'ru_td' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="11" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'rec'; sortReverse = !sortReverse">REC
				            <span ng-show="sortType == 'rec' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'rec' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="12" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 're_yds'; sortReverse = !sortReverse">REC YDS
				            <span ng-show="sortType == 're_yds' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 're_yds' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="13" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 're_td'; sortReverse = !sortReverse">REC TD
				            <span ng-show="sortType == 're_td' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 're_td' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="14" class="tablesorter-header"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'fl'; sortReverse = !sortReverse">FL
				            <span ng-show="sortType == 'fl' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'fl' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="15" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'fpts'; sortReverse = !sortReverse">FPTS
				            <span ng-show="sortType == 'fpts' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'fpts' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="16" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>
						<a ng-click="sortType = 'st_marys'; sortReverse = !sortReverse">ST. MARY
				            <span ng-show="sortType == 'st_marys' && !sortReverse" class="fa fa-caret-up"></span>
				            <span ng-show="sortType == 'st_marys' && sortReverse" class="fa fa-caret-down"></span>
          				</a>
				</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>DEPTH</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>INJ</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>TEAM</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>DEF</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>OL</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>QB's</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>RB's</small></div>
				</th>
				<th style="width:40px;" data-column="17" class="tablesorter-header tablesorter-headerSortUp"><div class="tablesorter-header-inner"><small>REC's</small></div>
				</th>
			</tr>          
		</thead>
        <tbody class="bod">
          	<tr ng-class = "{r_picked:row.status == 1,r_taken:row.status == 2,r_watch:row.status == 3, r_normal:row.status == 0}" ng-repeat="row in rowCollection | orderBy:sortType:sortReverse | filter:posFilter" ng-click="togg(row);">
          		<td>{{$index + 1}}</td>
          		<td><a>{{row.name}}</a><small style="color:#888888;"> {{findPos(row.pos)}}, {{row.team}}</small></td>
				<td>{{row.att}}</td>
				<td>{{row.comp}}</td>
				<td>{{row.p_yds}}</td>
				<td>{{row.p_td}}</td>
				<td>{{row.int}}</td>
				<td>{{row.rush}}</td>
				<td>{{row.ru_yds}}</td>
				<td>{{row.ru_td}}</td>
				<td>{{row.rec}}</td>
				<td>{{row.re_yds}}</td>
				<td>{{row.re_td}}</td>
				<td>{{row.fl}}</td>
				<td>{{row.fpts}}</td>
				<td>{{row.st_marys}}</td>
				<td ng-class = "{green_cell:row.string == 1,lightgreen_cell:(row.string == 1.25) || ((row.string == 1.5 || row.string == 1.75)&& (row.pos == 'WR' || row.pos == 'TE')),yellow_cell:((row.string == 1.5 || row.string == 1.75) && row.pos == 'RB') || ((row.string == 2 || row.string == 2.25) && ((row.pos == 'WR') || (row.pos == 'TE'))),orange_cell:(row.string == 2 && row.pos == 'RB') || ((row.string == 2.5 || row.string == 2.75) && ((row.pos == 'WR') || (row.pos == 'TE'))),red_cell:(row.string > 2 && row.pos == 'RB') || (row.string > 2.75 && ((row.pos == 'WR') || (row.pos == 'TE'))) || (row.string > 1 && row.pos == 'QB')}" ng-init = "multifunc()">{{row.string}}</td>
				<td ng-class = "{red_cell:row.inj == 'INJ'}">{{row.inj}}</td>
				<td ng-class = "{green_cell:isgood,red_cell:isbad}">{{teams(row.team)}}</td>
				<td ng-class = "{green_cell:(isbad && !isrb) || (isgood && isrb),red_cell:(isgood && !isrb) || (isbad && isrb)}">{{defenses(row.team)}}</td>
				<td ng-class = "{green_cell:isgood,red_cell:isbad}">{{ols(row.team)}}</td>
				<td ng-class = "{green_cell:(isgood && !isrb) || (isbad && isrb),red_cell:(isbad && !isrb) || (isgood && isrb),  invisible:pos_val == 0}">{{qbs(row.team)}}</td>
				<td ng-class = "{green_cell:(isbad && !isrb) || (isgood && isrb),red_cell:(isgood && !isrb) || (isbad && isrb),  invisible:pos_val == 1}">{{rbs(row.team)}}</td>
				<td ng-class = "{green_cell:(isgood && !isrb) || (isbad && isrb),red_cell:(isbad && !isrb) || (isgood && isrb), invisible:(pos_val == 2) || (pos_val == 3)}">{{receivers(row.team)}}</td>

			</tr>
		</tbody>
	</table>
</div>
</div>

<script>

	
	
    /*$(document).ready(function(){
    	$("#data td.defense_cell:contains('Good')").css('color','red');
	});

	$(document).ready(function(){
	    $('#data td.defense_cell').each(function(){
	        if ($(this).text() == 'Good') {
	            $(this).css('background-color','#f00');
	        }
	    });
	});*/
	
</script>