html,body {
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

body {
	padding-top: 50px;
}

h2 {
	color: #000000;
}

.selected {
  background-color: red;
}

#btn_normal {

}

#btn_picked {

}

#btn_taken {

}

#btn_watch {

}

.r_normal {
	background-color: '';
}

.r_picked {
	background-color:#58D68D;
}

.r_taken {
	background-color: #EC7063;
}

.r_watch {
	background-color: #F7DC6F;
}