html,body {
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

body {
	padding-top: 50px;
}

h2 {
	color: #000000;
}

tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

thead{
	width:500px;
}

table{
 height:100%;   
 border-collapse: collapse;
 table-layout: fixed;
 empty-cells: show;          
}
tbody{
  overflow-y: scroll;      
  height: 77%;         
  width: 100%;
  position: absolute;
}

.selected {
  background-color: #e8e8e8;
}

#btn_normal {

}

#btn_picked {

}

#btn_taken {

}

#btn_watch {

}

.r_normal {
	background-color: '';
}

.r_taken {
	background-color: #EC7063;
}

.r_bpicked {
	background-color:#81D4FA;
}

.r_bwatch {
	background-color:#E1F5FE;
}

.r_apicked {
	background-color:#FFE082;
}

.r_awatch {
	background-color:#FFF8E1;
}

.r_gpicked {
	background-color:#A5D6A7;
}

.r_gwatch {
	background-color:#E8F5E9;
}

.r_watch {
	background-color: #F7DC6F;
}

.defense_cell {
	background-color: #555555;
}

.green_cell {
	font-weight: bold;
	color: #00C957;
}

.lightgreen_cell {
	font-weight: bold;
	color: #ADFF2F;
}

.yellow_cell {
	font-weight: bold;
	color: #ffd700;	
}

.orange_cell {
	font-weight: bold;
	color: #ff9800;	
}

.red_cell {
	font-weight: bold;
	color: #FF0000;
}

.invisible {
	visibility: hidden;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.namecol {
	width:19%;
}

.gencol {
	width:5%;
	text-align: center;
}

.speccol {
	width:5%;
	font-weight: bold;
	text-align: center;
}

.spacecol {
	width:1%;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	visibility: hidden;
}

.smallcol {
	width:3%;
	text-align: center;
}