html,body {
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

body {
	padding-top: 50px;
}

h2 {
	color: #000000;
}

.selected {
  background-color: red;
}

#btn_normal {

}

#btn_picked {

}

#btn_taken {

}

#btn_watch {

}

.r_normal {
	background-color: '';
}

.r_picked {
	background-color:#58D68D;
}

.r_taken {
	background-color: #EC7063;
}

.r_watch {
	background-color: #F7DC6F;
}

.defense_cell {
	background-color: #555555;
}

.green_cell {
	font-weight: bold;
	color: #00C957;
}

.lightgreen_cell {
	font-weight: bold;
	color: #ADFF2F;
}

.yellow_cell {
	font-weight: bold;
	color: #ffd700;	
}

.orange_cell {
	font-weight: bold;
	color: #ff9800;	
}

.red_cell {
	font-weight: bold;
	color: #FF0000;
}

.invisible {
	visibility: hidden;
}
